body{
  background-color: #f2f2f2;
}


#student-container{
    position: relative;
    display:flex;
    background: transparent;
    top: 7.5%;
    width: 75%;
    height: 92.5%;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;
    background-color: #FFF;
    z-index: -1;
}

.student-all{
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.student{
    display: flex;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.collapsible {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }


  .content {
    display: inline-block;
    text-align: left;
    padding: 20px;
  }

  .student-name{
    width: 25%;
  }

  .student-assignments, .student-dates, .student-descriptions{
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .info1 span{
    margin: auto 0 auto 0;
    width: fit-content;
  }

  .active, .student:hover {
    cursor: pointer;
    background-color: #ccc;
  }