
/* Add your CSS styles here */
h1{
    padding: 10px;
}

#data-table{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    height: fit-content;
}

th, td {
    text-align: left;
    padding: 8px;
}

td{
    cursor: pointer;
}

a.row-link {
    display: block;
    width: 100%;
    text-decoration: none; /* optional: remove underline */
}
.popup {
    display: none; /* Hide popup by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
  }
  
  input[type="number"] {
    background-color: #5a5959;
    color: white; /* Change text color to white */
    border: none; /* Remove default border */
    width: 50px; /* Set width of input */
    height: 50px; /* Set height of input */
    font-size: 20px; /* Set font size */
    text-align: center; /* Center align text */
  }
  
  form {
    padding: 40px;
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    justify-content: center;
  }
  
  form * {
    margin-top: 20px; /* Adjust spacing between elements */
  }
  
  .popup-content {
    background-color: #333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center; /* Center align content */
  }
  
  .close {
    float: right;
    cursor: pointer;
  }
  
  .close:hover {
    color: red;
  }

  .info td{
    border-top: 1px solid #dddddd;
  }